@model IEnumerable<KohvimasinMVC.Data.Kohvimasin>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<p>
    <a asp-action="LisaToode">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jooginimi)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.JoogiKogus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topsikogus)
            </th>
            <th>
                Valikud
            </th>
            <th>
               Täitepakk
            </th>
        </tr>
    </thead>
    <tbody>
    
            
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jooginimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoogiKogus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topsikogus)
            </td>
            <td>
                <a class = "btn btn-warning"asp-action="Muuda" asp-route-id="@item.Id">Muuda</a> 
                <a class = "btn btn-danger"asp-action="Kustuta" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-action="LisaTäitepakk" asp-route-id="@item.Id">Lisa Joogi Täitepakk</a>   
                <a class="btn btn-primary" asp-action="LisaTopsiTäitepakk" asp-route-id="@item.Id">Lisa Topsi Täitepakk</a>


            </td>
        </tr>
}
    </tbody>
</table>
