@model IEnumerable<KohvimasinMVC.Data.Kohvimasin>

@{
    ViewData["Title"] = "Klient";
}

<div class = "row">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Jooginimi</h5>
                @if (item.Topsikogus == 0)
                {
                    <a asp-action="VõtaJookTopsita" asp-route-id="@item.Id">Võta jook topsita</a>
                    @item.JoogiKogus;

                }
                else
                {
                    <a asp-action="VõtaJookTopsita" asp-route-id="@item.Id">Võta jook topsita</a>
                    <br />
                    <a asp-action="VõtaJook" asp-route-id="@item.Id">Võta Jook topsiga</a>
                    <p>@item.JoogiKogus </p>


                }



            </div>

        </div>
    }
</div>

